<div class="containerDetails">
    <h1>{{product.title}}</h1>
    <h2>{{product.category}}</h2>
    <img src={{product.thumbnail}} alt="">
    <h3>{{product.description}}</h3>
    <h4>Price: ${{product.price}}</h4>
    <h5>Last {{product.stock}} units</h5>
    <button class="btn btn-success my-3" onclick="addProductToCart('{{user.cartId}}','{{product._id}}')">Add to Cart</button>
</div>
<script src="/js/cart.js"></script>