<div id="containerCart">
  <h1>Cart</h1>
  {{#if productsInCart}}
  <div id="productsInCart" class="container-fluid">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Thumbnail</th>
          <th scope="col">Title</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {{#each productsInCart}}
        <tr>
          <td> <img class="cartProductImg" src="{{this.thumbnail}}" alt="{{this.title}}">
          </td>
          <td>
            <p>{{this.title}}</p>
          </td>
          <td id="cartQuantity">
            <p>{{this.quantity}}</p>
          </td>
          <td>
            <p>$ {{this.price}}</p>
          </td>
          <td><button class="btn btn-outline-danger" onclick="deleteProductInCart('{{this._id}}')">Eliminar</button>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Finalizar Compra
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Finaliza el pago</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="form" role="form" autocomplete="off" id="formPurchase">
            <div>
              <label for="card-element">
                Ingresa los datos de tu tarjeta
              </label>
              <div id="card-element">
                <!-- Elemento de tarjeta de Stripe -->
                <input id="card-holder-name" type="text" placeholder="Nombre en la tarjeta">
                <div id="card-element">
                  <!-- Aquí se insertará el elemento de tarjeta de Stripe -->
                </div>
              </div>
              <div id="card-errors" role="alert"></div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button id="pay-button" type="button" class="btn btn-primary" onclick="handlePayment('{{user.cartId}}')">Pay</button>
        </div>
      </div>
    </div>
  </div>
  {{/if}}
</div>
<script src="https://js.stripe.com/v3/"></script>
<script src="/js/cart.js"></script>